# Email Configuration
EMAIL_HOST=
EMAIL_PORT=
EMAIL_USER=
EMAIL_PASS=
EMAIL_FROM=
EMAIL_TO=
RECIPIENT_EMAIL=
GMAIL_USER=
GMAIL_APP_PASSWORD=

# API Configuration
GROQ_API_KEY=
GROQ_BASE_URL=
OPENAI_MODEL=

# Admin Credentials
ADMIN_USERNAME=
ADMIN_PASSWORD=
NEXT_PUBLIC_BASE_URL=
